.card {
	border: 1px solid lightblue;
	border-radius: 35px 0;
	text-align: center;
	float: left;
	width: 30%;
	margin: 10px;
	padding: 8px;
	background-color: orange;
}
header{
	border: 1px dotted grey;
}
img {
	margin: 0 auto;
}
.description {
	text-align: justify;
}
.bold{
	font-weight: bold;
}
.stock {
	background-color: grey;
	width: 100%;
	color: yellow;
}